@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212; /* Corresponds to 'background' in tailwind.config.js */
  color: #e0e0e0; /* Corresponds to 'on-background' */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
